body, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #fff; }

main {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding-bottom: 60px;
  min-height: calc(100vh - 100px); }
  @media only screen and (min-width: 576px) {
    main {
      top: 150px;
      min-height: calc(100vh - 150px); } }

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 15px; }
  #footer p {
    font-size: 10px;
    color: #d0d0d0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif; }
    @media only screen and (min-width: 992px) {
      #footer p {
        font-size: 12px; } }
  @media only screen and (min-width: 576px) {
    #footer {
      padding-right: calc(16px + 1rem); } }

h1, h2 {
  font-weight: 600; }

p {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6, .title {
  font-weight: 600; }

h1, h2, h3, h4, h5, p, a, button {
  color: #6b6b6b; }

a {
  text-decoration: none; }

p, a, button {
  font-size: 14px; }

a, button {
  transition: .3s ease-in-out; }

a:hover, a:focus, a:active {
  color: #E66E6E;
  text-decoration: none; }

.text-center {
  text-align: center; }

button {
  cursor: pointer; }

button:hover, button:active, button:focus {
  border: none;
  outline: none; }

.lgt-btn {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2); }
  .lgt-btn:hover {
    box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.2); }

.drk-btn {
  background-color: #000;
  color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3); }
  .drk-btn:hover {
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.3); }

.title {
  color: #3b3b3b;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; }

.sub-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #3b3b3b; }

.body-text {
  color: #6b6b6b; }

.body-text, .sub-title {
  font-size: 14px; }

nav {
  z-index: 999;
  background-color: #fff; }
  nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #afafaf; }
    nav a:hover, nav a:focus {
      color: #3b3b3b; }
  nav .nav-item.active .nav-link {
    color: #E66E6E; }
    @media only screen and (min-width: 576px) {
      nav .nav-item.active .nav-link {
        border-bottom: 5px solid #E66E6E;
        color: #3b3b3b; } }
  nav .navbar-toggler {
    padding: 0; }
  nav .navbar-brand img {
    max-height: 35px; }
  @media only screen and (min-width: 576px) {
    nav .navbar-expand-lg .navbar-nav .nav-link {
      padding: .3rem 0; }
    nav .nav-item {
      padding: 1rem; } }
  nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>"); }

.soft-shadow {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
  margin-bottom: 20px; }

.align-center {
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%); }

@media only screen and (max-width: 576px) {
  nav.activeButton {
    box-shadow: 2px 2px 5px #eeeeee; } }

.img-169 {
  padding-top: 56.25%;
  margin: 0 auto;
  position: relative; }
  .img-169 .img-169-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .img-169 img {
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center; }

.intro h1 {
  margin-top: 0;
  color: #E66E6E;
  font-size: 3.5rem;
  line-height: 3.5rem; }

.intro h3.sub-title {
  margin-top: 20px;
  font-size: 1.7rem;
  color: #E66E6E; }

@media only screen and (min-width: 768px) {
  .intro h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-bottom: 15px; }
  .intro h3.sub-title {
    font-size: 2.5rem; } }

@media only screen and (min-width: 1140px) {
  .intro h1 {
    font-size: 5rem;
    line-height: 5rem; }
  .intro br {
    display: none; } }

.bio {
  margin-top: 30px;
  margin-bottom: 30px; }
  .bio button {
    margin-top: 25px;
    margin-right: 15px;
    width: 170px;
    text-transform: uppercase;
    background-image: none;
    border: none;
    padding: 12px 10px;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 700; }
    .bio button:focus, .bio button:active {
      background-color: #afafaf; }
  .bio .quick-links a {
    font-weight: 600; }

#selected-works .img-169 {
  overflow: hidden;
  cursor: pointer; }

#selected-works .works-thumb:hover {
  transition: .3s ease-in-out;
  transform: scale(1.2); }

#selected-works .works-thumb {
  object-fit: cover; }

#skills .img-169 {
  width: 80%;
  padding-top: 45%; }
  @media only screen and (min-width: 768px) {
    #skills .img-169 {
      width: 100%;
      padding-top: 56.25%; } }

#skills h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #E66E6E;
  text-transform: uppercase;
  font-size: 1.5rem; }
  @media only screen and (min-width: 768px) {
    #skills h3 {
      font-size: 1.3rem; } }

@media only screen and (max-width: 768px) {
  #skills {
    top: 60px; } }

.skill-details {
  color: #6b6b6b; }
  .skill-details > .row {
    margin-bottom: 20px; }
    .skill-details > .row:last-child {
      margin-bottom: 0; }

.skill-catgr {
  margin-bottom: 60px; }
  @media only screen and (min-width: 460px) {
    .skill-catgr {
      padding: 0 60px; } }
  @media only screen and (min-width: 768px) {
    .skill-catgr {
      margin-bottom: 0;
      padding: 0 30px; } }
  @media only screen and (min-width: 992px) {
    .skill-catgr {
      padding: 0 60px; } }

.skill-item {
  font-size: 16px;
  font-weight: 600;
  line-height: normal; }

.skill-years {
  text-align: right;
  font-size: 14px; }

@media only screen and (min-width: 1140px) {
  .skill-details {
    padding: 0 30px; }
  .skill-item {
    font-size: 18px; } }

.row.position {
  margin-bottom: 60px; }

#experiences .title {
  color: #E66E6E;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 10px; }

#experiences .sub-title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  color: #3b3b3b; }

#experiences .exp-duration {
  font-size: 13px; }

@media only screen and (max-width: 576px) {
  #experiences .title {
    margin-bottom: 10px; }
  #experiences .sub-title {
    margin-bottom: 20px; } }

.exp-details {
  position: relative; }
  .exp-details ul {
    padding-left: 15px; }
    .exp-details ul li {
      line-height: 1.5;
      padding-bottom: calc(14px*1/3); }

#works .nav-tabs, #works .nav-tabs .nav-link {
  border: 0; }

#works .nav-tabs {
  margin: 0 auto;
  margin-bottom: 15px; }

#works .nav-link {
  color: #afafaf;
  font-size: 12px;
  font-weight: 700;
  padding: .1rem .8rem; }
  #works .nav-link:hover {
    color: #6b6b6b; }
  #works .nav-link:focus, #works .nav-link:active, #works .nav-link:focus-within {
    color: #3b3b3b; }

@media only screen and (min-width: 576px) {
  #works .nav {
    padding-bottom: 15px; }
  #works .nav-link {
    font-size: 1rem; } }

@media only screen and (min-width: 992px) {
  #works .nav-link {
    padding-left: 30px; }
  #works .thumb-wrapper {
    padding: 30px; } }

#works .works-thumb-title {
  color: #3b3b3b;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 16px;
  z-index: 999; }

#works .img-11 {
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 3px 10px #dedede;
  position: relative; }
  #works .img-11:hover .works-thumb {
    transition: .3s ease-in-out;
    transform: scale(1.2); }

#works .nav-link.active {
  color: #3b3b3b; }

#works .thumb-wrapper {
  padding-top: 15px;
  padding-bottom: 30px; }

#works .close {
  font-size: 3rem;
  font-weight: 400; }

@media only screen and (min-width: 576px) {
  #works .modal-dialog {
    width: 90%;
    max-width: 90%; } }

#works .modal-content {
  border: 0;
  border-radius: 0; }

#works .modal-header {
  border: 0; }

#works .modal-body {
  padding-bottom: 30px; }

#works .carousel-control-prev {
  left: -4%; }

#works .carousel-control-next {
  right: -4%; }

#works .carousel-control-next, #works .carousel-control-prev {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  bottom: initial; }

@media only screen and (min-width: 768px) {
  #works .nav-tabs {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px; } }

#works .wireframe-img {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

#works .img-shadowed {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1); }

#works-carousel .works-caption {
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (min-width: 992px) {
    #works-carousel .works-caption {
      padding-right: 100px;
      padding-left: 100px;
      padding-bottom: 60px; } }

#works-carousel .work-title {
  font-size: 1.7em;
  font-family: 'Poppins', sans-serif;
  color: #3b3b3b; }
  @media only screen and (min-width: 768px) {
    #works-carousel .work-title {
      font-size: 2rem; } }

#works-carousel .title {
  margin-top: 36px;
  font-size: 1.5em;
  color: #6b6b6b; }
  @media only screen and (min-width: 992px) {
    #works-carousel .title {
      margin-top: 40px; } }

#works-carousel .sub-title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.2em;
  color: #3b3b3b;
  font-weight: 700; }

#works-carousel .sub-title-2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 1em;
  color: #6b6b6b;
  font-weight: 700; }

#works-carousel .carousel-item li {
  color: #6b6b6b; }

@media only screen and (min-width: 768px) {
  #works-carousel .carousel-item img.w-100.vert {
    height: 100vh !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto; } }

#works-carousel .prototype {
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 767px) {
    #works-carousel .prototype {
      padding-top: 0;
      transform: translate(-50%, -15%) scale(0.7);
      margin-bottom: -300px; } }

.img-11 {
  width: 100%;
  position: relative;
  padding-top: 100%; }

.img-11-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .img-11-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.img-fullwidth {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media only screen and (min-width: 992px) {
    .img-fullwidth {
      margin-top: 30px;
      margin-bottom: 30px; } }

@media only screen and (min-width: 992px) {
  .img-fullwidth.img-halfwidth {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%); } }

.works-caption {
  padding-top: 30px; }
  .works-caption a {
    font-weight: 500; }
    .works-caption a:hover, .works-caption a:focus, .works-caption a:active {
      color: #E66E6E; }
  .works-caption p {
    font-family: 'EB Garamond', 'Baskerville', serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 7px; }
    @media only screen and (min-width: 992px) {
      .works-caption p {
        font-size: 18px; } }
  .works-caption .view-site {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; }
    .works-caption .view-site .fa-angle-right {
      margin-left: 5px;
      margin-bottom: -2px; }

.multiple-img .works-caption {
  padding-top: 0; }

.multiple-img img {
  margin-top: 10px; }
  @media only screen and (min-width: 576px) {
    .multiple-img img {
      margin-top: 30px; } }

.ux-img img {
  width: 100%; }

.ux-img > div {
  padding-top: 20px; }

.shadowed-img {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1); }

span.view-site {
  margin-left: 15px; }

.logo-grid {
  position: relative;
  height: 120px;
  transition: .7s;
  width: 100%;
  margin-top: 30px; }
  .logo-grid img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    cursor: pointer;
    margin-top: 0 !important; }
  @media only screen and (min-width: 992px) {
    .logo-grid {
      height: 200px; } }
  @media only screen and (min-width: 992px) {
    .logo-grid {
      height: 300px; } }
  .logo-grid .grid {
    opacity: 0;
    transition: .5s;
    transform: translateX(-38.5%); }
    .logo-grid .grid:hover {
      opacity: 1; }

.stressed {
  font-style: italic; }

#contact h2.title {
  color: #E66E6E;
  margin-bottom: 30px;
  font-size: 2.5rem; }
  @media only screen and (min-width: 768px) {
    #contact h2.title {
      font-size: 3.5rem; } }

#contact p, #contact a {
  font-size: 1.5rem;
  font-weight: 400; }

#contact i {
  font-size: 3rem;
  margin: 15px 30px 0 0; }
