$pink: #E66E6E;
$grey: #3b3b3b;
$bodyColor: #6b6b6b;
$bodySize: 14px;
$navColor: #afafaf;


body, button {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	position: relative;
	background-color: #fff;
}
main {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	padding-bottom: 60px;
	min-height: calc(100vh - 100px);
	@media only screen and (min-width: 576px) {
		top: 150px;
		min-height: calc(100vh - 150px);
	}
	// @media only screen and (min-width: 992px) {
	// 	top: 180px;
	// }
	
}

#footer {
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 15px;
    p {
    	font-size: 10px;
    	color: #d0d0d0;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-family: 'Poppins', sans-serif;
    	 @media only screen and (min-width: 992px) {
    	 	font-size: 12px;
    	 }
    }
    @media only screen and (min-width: 576px) {
		padding-right: calc(16px + 1rem);
	}
}

h1, h2 {
	font-weight: 600;
}

p {
	margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6, .title {
	font-weight: 600;
}

h1,h2,h3,h4,h5,p, a, button {
	color: $bodyColor;
}

a {text-decoration: none;}

p, a, button {
	font-size: $bodySize;
}

a, button {
	transition: .3s ease-in-out;
}

a:hover, a:focus, a:active {
	color: $pink;
	text-decoration: none;
}

.text-center {
	text-align: center;
}

button {
	cursor: pointer;
	//transition: .3s ease-in;
}

button:hover, button:active, button:focus {
	border: none;
	outline: none;
}



.lgt-btn {
	 background-color: #fff;
	 color: #000;
	 box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2); 
	&:hover {
		//transform: scale(1.02);
		box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.2);
	}
}

.drk-btn {
	background-color: #000;
	color: #fff;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3); 
	&:hover {
		box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.3);
	}
}


.title {
	color: $grey;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
.sub-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: $grey;
}


.body-text {
	color: $bodyColor;
}

.body-text, .sub-title {
	font-size: 14px;
}

nav {
	z-index: 999;
	background-color: #fff;
	a {
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
		font-weight: 500;
		color: $navColor;
		&:hover, &:focus {
			color: $grey;
		}
	}
	.nav-item.active {
		.nav-link {
			color: $pink;
			@media only screen and (min-width: 576px) {
				border-bottom: 5px solid $pink;
				color: $grey;
			}
			//color: $grey;
		}
	}
	.navbar-toggler {
		padding: 0;
	}
	.navbar-brand {
		img {
			max-height: 35px;
		}
	}
	@media only screen and (min-width: 576px) {
		.navbar-expand-lg .navbar-nav .nav-link {
		    padding: .3rem 0;
		}
		.nav-item {
			padding: 1rem;
		}
	}
	.navbar-toggler-icon {
	    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
	}
}

.soft-shadow {
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
}

.align-center {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 576px) {
	nav.activeButton {
		box-shadow: 2px 2px 5px #eeeeee;
	}
}

.img-169 {
	padding-top: 56.25%;
	margin: 0 auto;
	position: relative;
	
	.img-169-inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	img {
		padding: 5px;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
		// @media only screen and (max-width: 768px) {
		// 	padding: 5px 10px;
		// }
	}
}

@import 'partials/home';
@import 'partials/skills';
@import 'partials/experiences';
@import 'partials/works';
@import 'partials/contact';