RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

AuthType Basic  
AuthName "restricted area"  
AuthUserFile thi-tn.github.io/google-excercise/.htpasswd  
require valid-user