.row.position {
	margin-bottom: 30px;
}

#experiences {
	.title {
		color: $pink;
	}
	@media only screen and (max-width: 576px) {
		.title {
			//margin-top: 10px;
			margin-bottom: 15px;
		}
		.sub-title {
			margin-bottom: 0;
		}
	}
}