.intro {
	h1 {
		margin-top: 0;
		color: $pink;
		font-size: 3.5rem;
		line-height: 3.5rem;
	}
	h3.sub-title {
		margin-top: 20px;
		font-size: 1.7rem;
		color: $pink;
	}
	@media only screen and (min-width: 768px) {
		h1 {
			font-size: 4.5rem;
			line-height: 4.5rem;
			margin-bottom: 15px;
		}
		h3.sub-title {font-size: 2.5rem;}
	}
	@media only screen and (min-width: 1140px) {
		h1 {
			font-size: 5rem;
			line-height: 5rem;
		}
		br {
			display: none;
		}
	}
}

.bio {
	margin-top: 30px;
	margin-bottom: 30px;
	//font-family: 'EB Garamond', 'Baskerville', serif;
	// button {
	// 	margin-top: 25px;
	//     margin-right: 10px;
	//     width: 170px;
	//     text-transform: uppercase;
	//     background-image: none;
	//     background-color: #e66e6e;
	//     border: none;
	//     padding: 12px 10px;
	//     font-size: 12px;
	//     color: #ffffff;
	//     font-family: Poppins;
	//     font-weight: 700;
	//     box-shadow: 0px 5px 10px rgba(230, 110, 110, 0.39);
	// 	&:hover {
	// 		background-color: $grey;
	// 		transform: scale(1.02);
 //    		box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.3);
	// 	}
	// 	&:focus, &:active {
	// 		background-color: #000;
	// 		box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.3);
	// 	}
	// }

	button {
		margin-top: 25px;	
	 	//margin-bottom: 15px;
	 	margin-right: 15px;
	    width: 170px;
	    text-transform: uppercase;
	    background-image: none;
	    border: none;
	    padding: 12px 10px;
	    font-size: 12px;
	    font-family: Poppins;
	    font-weight: 700;
	   
		&:focus, &:active {
			background-color: $navColor;
			//box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.3);
		}
	}
	.quick-links {
		a {
			font-weight: 600;
		}
	}
}

 #selected-works {
 	.img-169 {
 		overflow: hidden;
 		cursor: pointer;
 	}
 	.works-thumb:hover {
		transition: .3s ease-in-out;
		transform: scale(1.2);
	}
	.works-thumb {
		object-fit: cover;
	}
 }

 
