#works {
	.nav-tabs, .nav-tabs .nav-link {
		border: 0;
	}
	.nav-link {
		color: $bodyColor;
		font-size: 14px;
		font-weight: 400;
		//text-transform: uppercase;
		&:hover, &:focus, &:active {
			color: $grey;
		}
		@media only screen and (min-width: 576px) {
			font-size: 1.2rem;
		}
	}
	.img-11 {
		overflow: hidden;
	}
	.nav-link.active {
		//color: #000;
		font-weight: 600;
	}
	.thumb-wrapper {
		padding-top: 15px;
		padding-bottom: 15px; 
	}
	.close {font-size: 3rem;}
	.modal-dialog {
		@media only screen and (min-width: 576px) {
			width: 90%;
			max-width: 90%;	
		}		
	}
	.modal-header {
		border: 0;
	}
	.modal-body {
		padding-bottom: 30px;
	}
	.carousel-control-prev {left: -13%;}
	.carousel-control-next {right: -13%;}
	@media only screen and (min-width: 768px) {
		.thumb-wrapper {
			padding: 30px;
		}
		.nav-tabs {
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 15px;
		}
	}
}

#works-carousel {
	.works-caption {
		padding-left: 15px;
		padding-right: 15px;
	}
	.title {
		margin-top: 15px;
		font-size: 1.3rem;
	}
	.sub-title {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 1.1rem;
	}
	.carousel-item {
		li {
			color: $bodyColor;
		}
	}
}

.works-thumb {
	cursor: pointer;
	transition: .3s ease-in-out;
	&:hover {
		transform: scale(1.2);
	}
}

.img-11 {
	width: 100%;
	position: relative;
	padding-top: 100%;
}

.img-11-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.works-caption {
	padding-top: 30px;
	h3 {font-size: 1.5rem;}
}

.ux-img {
	@media only screen and (max-width: 768px) {
		padding: 0 5px;
		.col-6 {
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	img {
		width: 100%;
	}
	.col-6 {
		padding-top: 20px;
	}
}